.media-body {
  max-width: 50vw;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 56;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}
