{% load render_bundle from webpack_loader %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Webpack rendered CSS -->
    {% render_bundle 'main' 'css' %}
  </head>

  <body class="bg-light" style="display:none;">
    <!-- Body Content -->
        {% block body %}{% endblock %}
      </div>
    </div>

    {% render_bundle 'main' 'js' 'JQUERY' %}
    <!-- django-js-reverse -->
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

    <!-- Webpack rendered Javascript -->
    {% render_bundle 'main' 'js' %}

    {% block scripts %}{% endblock %}
  </body>
</html>
