{% extends 'base.html' %}
{% load octicons %}


{% block body %}
<div class="d-flex justify-content-center" style="height:100vh;">
  <div class="align-self-center">
    <div class="text-center">
      <a
         class="btn btn-outline-secondary"
         href="https://github.com/login/oauth/authorize?client_id={{ client_id }}&scope=repo"
         >
         {% octicon "mark-github" %} Sign in with Github
      </a>
    </div>

    <p>
    To start listing your GitHub projects' commits
    </p>
  </div>
</div>
{% endblock %}
